@charset "UTF-8";
:root {
  --sw-black-color: #000000;
  --sw---sw-color-black-light-1: #1a1a1a;
  --sw---sw-color-black-light-2: #333333;
  --sw---sw-color-black-light-3: #4d4d4d;
  --sw---sw-color-black-light-4: #666666;
  --sw---sw-color-black-light-5: gray;
  --sw---sw-color-black-light-6: #999999;
  --sw---sw-color-black-light-7: #b3b3b3;
  --sw---sw-color-black-light-8: #cccccc;
  --sw---sw-color-black-light-9: #e6e6e6;
  --sw---sw-color-black-dark-1: black;
  --sw---sw-color-black-dark-2: black;
  --sw---sw-color-black-dark-3: black;
  --sw---sw-color-black-dark-4: black;
  --sw---sw-color-black-dark-5: black;
  --sw---sw-color-black-dark-6: black;
  --sw---sw-color-black-dark-7: black;
  --sw---sw-color-black-dark-8: black;
  --sw---sw-color-black-dark-9: black;
  --sw-white-color: #ffffff;
  --sw---sw-color-white-light-1: white;
  --sw---sw-color-white-light-2: white;
  --sw---sw-color-white-light-3: white;
  --sw---sw-color-white-light-4: white;
  --sw---sw-color-white-light-5: white;
  --sw---sw-color-white-light-6: white;
  --sw---sw-color-white-light-7: white;
  --sw---sw-color-white-light-8: white;
  --sw---sw-color-white-light-9: white;
  --sw---sw-color-white-dark-1: #e6e6e6;
  --sw---sw-color-white-dark-2: #cccccc;
  --sw---sw-color-white-dark-3: #b3b3b3;
  --sw---sw-color-white-dark-4: #999999;
  --sw---sw-color-white-dark-5: gray;
  --sw---sw-color-white-dark-6: #666666;
  --sw---sw-color-white-dark-7: #4d4d4d;
  --sw---sw-color-white-dark-8: #333333;
  --sw---sw-color-white-dark-9: #1a1a1a;
  --sw-primary-color: #409eff;
  --sw---sw-color-primary-light-1: #53a8ff;
  --sw---sw-color-primary-light-2: #66b1ff;
  --sw---sw-color-primary-light-3: #79bbff;
  --sw---sw-color-primary-light-4: #8cc5ff;
  --sw---sw-color-primary-light-5: #a0cfff;
  --sw---sw-color-primary-light-6: #b3d8ff;
  --sw---sw-color-primary-light-7: #c6e2ff;
  --sw---sw-color-primary-light-8: #d9ecff;
  --sw---sw-color-primary-light-9: #ecf5ff;
  --sw---sw-color-primary-dark-1: #3a8ee6;
  --sw---sw-color-primary-dark-2: #337ecc;
  --sw---sw-color-primary-dark-3: #2d6fb3;
  --sw---sw-color-primary-dark-4: #265f99;
  --sw---sw-color-primary-dark-5: #204f80;
  --sw---sw-color-primary-dark-6: #1a3f66;
  --sw---sw-color-primary-dark-7: #132f4d;
  --sw---sw-color-primary-dark-8: #0d2033;
  --sw---sw-color-primary-dark-9: #06101a;
  --sw-success-color: #67c23a;
  --sw---sw-color-success-light-1: #76c84e;
  --sw---sw-color-success-light-2: #85ce61;
  --sw---sw-color-success-light-3: #95d475;
  --sw---sw-color-success-light-4: #a4da89;
  --sw---sw-color-success-light-5: #b3e19d;
  --sw---sw-color-success-light-6: #c2e7b0;
  --sw---sw-color-success-light-7: #d1edc4;
  --sw---sw-color-success-light-8: #e1f3d8;
  --sw---sw-color-success-light-9: #f0f9eb;
  --sw---sw-color-success-dark-1: #5daf34;
  --sw---sw-color-success-dark-2: #529b2e;
  --sw---sw-color-success-dark-3: #488829;
  --sw---sw-color-success-dark-4: #3e7423;
  --sw---sw-color-success-dark-5: #34611d;
  --sw---sw-color-success-dark-6: #294e17;
  --sw---sw-color-success-dark-7: #1f3a11;
  --sw---sw-color-success-dark-8: #15270c;
  --sw---sw-color-success-dark-9: #0a1306;
  --sw-warning-color: #e6a23c;
  --sw---sw-color-warning-light-1: #e9ab50;
  --sw---sw-color-warning-light-2: #ebb563;
  --sw---sw-color-warning-light-3: #eebe77;
  --sw---sw-color-warning-light-4: #f0c78a;
  --sw---sw-color-warning-light-5: #f3d19e;
  --sw---sw-color-warning-light-6: #f5dab1;
  --sw---sw-color-warning-light-7: #f8e3c5;
  --sw---sw-color-warning-light-8: #faecd8;
  --sw---sw-color-warning-light-9: #fdf6ec;
  --sw---sw-color-warning-dark-1: #cf9236;
  --sw---sw-color-warning-dark-2: #b88230;
  --sw---sw-color-warning-dark-3: #a1712a;
  --sw---sw-color-warning-dark-4: #8a6124;
  --sw---sw-color-warning-dark-5: #73511e;
  --sw---sw-color-warning-dark-6: #5c4118;
  --sw---sw-color-warning-dark-7: #453112;
  --sw---sw-color-warning-dark-8: #2e200c;
  --sw---sw-color-warning-dark-9: #171006;
  --sw-danger-color: #f56c6c;
  --sw---sw-color-danger-light-1: #f67b7b;
  --sw---sw-color-danger-light-2: #f78989;
  --sw---sw-color-danger-light-3: #f89898;
  --sw---sw-color-danger-light-4: #f9a7a7;
  --sw---sw-color-danger-light-5: #fab6b6;
  --sw---sw-color-danger-light-6: #fbc4c4;
  --sw---sw-color-danger-light-7: #fcd3d3;
  --sw---sw-color-danger-light-8: #fde2e2;
  --sw---sw-color-danger-light-9: #fef0f0;
  --sw---sw-color-danger-dark-1: #dd6161;
  --sw---sw-color-danger-dark-2: #c45656;
  --sw---sw-color-danger-dark-3: #ac4c4c;
  --sw---sw-color-danger-dark-4: #934141;
  --sw---sw-color-danger-dark-5: #7b3636;
  --sw---sw-color-danger-dark-6: #622b2b;
  --sw---sw-color-danger-dark-7: #4a2020;
  --sw---sw-color-danger-dark-8: #311616;
  --sw---sw-color-danger-dark-9: #190b0b;
  --sw-error-color: #f56c6c;
  --sw---sw-color-error-light-1: #f67b7b;
  --sw---sw-color-error-light-2: #f78989;
  --sw---sw-color-error-light-3: #f89898;
  --sw---sw-color-error-light-4: #f9a7a7;
  --sw---sw-color-error-light-5: #fab6b6;
  --sw---sw-color-error-light-6: #fbc4c4;
  --sw---sw-color-error-light-7: #fcd3d3;
  --sw---sw-color-error-light-8: #fde2e2;
  --sw---sw-color-error-light-9: #fef0f0;
  --sw---sw-color-error-dark-1: #dd6161;
  --sw---sw-color-error-dark-2: #c45656;
  --sw---sw-color-error-dark-3: #ac4c4c;
  --sw---sw-color-error-dark-4: #934141;
  --sw---sw-color-error-dark-5: #7b3636;
  --sw---sw-color-error-dark-6: #622b2b;
  --sw---sw-color-error-dark-7: #4a2020;
  --sw---sw-color-error-dark-8: #311616;
  --sw---sw-color-error-dark-9: #190b0b;
  --sw-info-color: #909399;
  --sw---sw-color-info-light-1: #9b9ea3;
  --sw---sw-color-info-light-2: #a6a9ad;
  --sw---sw-color-info-light-3: #b1b3b8;
  --sw---sw-color-info-light-4: #bcbec2;
  --sw---sw-color-info-light-5: #c8c9cc;
  --sw---sw-color-info-light-6: #d3d4d6;
  --sw---sw-color-info-light-7: #dedfe0;
  --sw---sw-color-info-light-8: #e9e9eb;
  --sw---sw-color-info-light-9: #f4f4f5;
  --sw---sw-color-info-dark-1: #82848a;
  --sw---sw-color-info-dark-2: #73767a;
  --sw---sw-color-info-dark-3: #65676b;
  --sw---sw-color-info-dark-4: #56585c;
  --sw---sw-color-info-dark-5: #484a4d;
  --sw---sw-color-info-dark-6: #3a3b3d;
  --sw---sw-color-info-dark-7: #2b2c2e;
  --sw---sw-color-info-dark-8: #1d1d1f;
  --sw---sw-color-info-dark-9: #0e0f0f;
  --sw-text-color-primary: #303133;
  --sw-text-color-regular: #606266;
  --sw-text-color-secondary: #909399;
  --sw-text-color-placeholder: #a8abb2;
  --sw-text-color-disabled: #c0c4cc;
  --sw-border-color: #dcdfe6;
  --sw-border-color-light: #e4e7ed;
  --sw-border-color-lighter: #ebeef5;
  --sw-border-color-extra-light: #f2f6fc;
  --sw-border-color-dark: #d4d7de;
  --sw-border-color-darker: #cdd0d6;
  --sw-fill-color: #f0f2f5;
  --sw-fill-color-light: #f5f7fa;
  --sw-fill-color-lighter: #fafafa;
  --sw-fill-color-extra-light: #fafcff;
  --sw-fill-color-dark: #ebedf0;
  --sw-fill-color-darker: #e6e8eb;
  --sw-fill-color-blank: #ffffff;
  --sw-border-radius-base: 4px;
  --sw-border-radius-small: 2px;
  --sw-border-radius-round: 20px;
  --sw-border-radius-circle: 100%;
  --sw-box-shadow: 0px 12px 32px 4px rgba(0, 0, 0, 0.04), 0px 8px 20px rgba(0, 0, 0, 0.08);
  --sw-box-shadow-light: 0px 0px 12px rgba(0, 0, 0, 0.12);
  --sw-box-shadow-lighter: 0px 0px 6px rgba(0, 0, 0, 0.12);
  --sw-box-shadow-dark: 0px 16px 48px 16px rgba(0, 0, 0, 0.08), 0px 12px 32px rgba(0, 0, 0, 0.12), 0px 8px 16px -8px rgba(0, 0, 0, 0.16);
  --sw-border-width: 1px;
  --sw-border-style: solid;
  --sw-font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, 微软雅黑, Arial, sans-serif;
  --sw-font-size-extra-large: 20px;
  --sw-font-size-large: 18px;
  --sw-font-size-medium: 16px;
  --sw-font-size-base: 14px;
  --sw-font-size-small: 13px;
  --sw-font-size-extra-small: 12px;
  --sw-bg-color-disabled: var(--sw-fill-color-light);
  --sw-text-color-disabled: var(--sw-text-color-placeholder);
  --sw-border-color-disabled: var(--sw-border-color-light);
  --sw-size-large: 40px;
  --sw-size-default: 32px;
  --sw-size-small: 24px;
  --sw-border: var(--sw-border-width) var(--sw-border-style) var(--sw-border-color);
  --sw-font-weight-primary: 500;
  --sw-font-line-height-primary: 24px;
}/*# sourceMappingURL=test.css.map */