$primary: #1a67ff;
body {
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  color: #666;
  display: flex;
  flex-direction: row;
  overflow: hidden;
}
* {
  box-sizing: border-box;
}
@media screen and (max-width: 720px) {
  .left-nav,
  .right-menu {
    display: none;
    z-index: 2;

    &.show {
      display: inline-block;
      position: fixed;
      height: 100%;
      top: 0px;
    }
  }

  .left-nav.show {
    left: 0px;
  }
  .right-menu.show {
    right: 0px;
  }

  .left-nav-btn,
  .right-menu-btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0px;
    width: 36px;
    height: 36px;
    color: #666;
    border: none;
    outline: none;
    box-shadow: 0 0 8px #ccc;
    background-color: white;
    z-index: 3;
    font-size: 12px;
    &:hover,
    &:active {
      color: $primary;
    }
  }
  .left-nav-btn {
    position: fixed;
    left: 8px;
    top: 8px;
  }
  .right-menu-btn {
    position: fixed;
    right: 8px;
    top: 8px;
  }
}
@media screen and (min-width: 720px) {
  .left-nav,
  .right-menu {
    display: inline-block;
  }

  .left-nav-btn,
  .right-menu-btn {
    display: none;
  }
}

.footer {
  font-size: 12px;
  color: #808080;
  text-align: center;
  padding: 10px;
}
.left-nav,
.right-menu {
  height: 100%;
  overflow: auto;
  width: 300px;
  background-color: white;

  border-right: solid 1px rgba(0, 0, 0, 0.1);
  a {
    color: #666;
    line-height: 1.5;
    display: block;
    width: 100%;
    padding: 8px;
    text-overflow: ellipsis;
    font-size: 14px;
    text-decoration: none;
    white-space: no-wrap;
    font-size: 14px;
    &.disabled {
      font-weight: bold;
      font-size: 16px;
      pointer-events: none;
    }
    &.active {
      color: $primary;
    }
    &[level='3'] {
      padding-left: 64px;
    }
    &[level='2'] {
      padding-left: 32px;
    }
    &[level='1'] {
      font-weight: bold;
    }
  }
}
.right-menu {
  border: none;
  border-left: solid 1px rgba(0, 0, 0, 0.1);
}
::-webkit-scrollbar {
  background: transparent;
  height: 8px;
  width: 8px;
  border: none;
  cursor: pointer;
}

::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 5px;
}

::-webkit-scrollbar-corner {
  background-color: transparent;
}

.content {
  flex: 1;
  overflow: auto;
  height: 100%;

  .markdown-content {
    margin: 0 auto;

    max-width: 800px;
    height: 100%;
  }
}

.markdown-body {
  min-height: calc(100% - 34px);
  white-space: pre-wrap;
  font-size: 14px;
  padding: 10px;
  p,
  li {
    line-height: 2;
  }
  li::marker {
    color: $primary;
  }

  a,
  strong {
    color: $primary;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    position: relative;
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-weight: bold;
    line-height: 1.4;
    cursor: text;
  }
  h1:hover a.anchor,
  h2:hover a.anchor,
  h3:hover a.anchor,
  h4:hover a.anchor,
  h5:hover a.anchor,
  h6:hover a.anchor {
    text-decoration: none;
  }
  h1 tt,
  h1 code {
    font-size: inherit;
  }
  h2 tt,
  h2 code {
    font-size: inherit;
  }
  h3 tt,
  h3 code {
    font-size: inherit;
  }
  h4 tt,
  h4 code {
    font-size: inherit;
  }
  h5 tt,
  h5 code {
    font-size: inherit;
  }
  h6 tt,
  h6 code {
    font-size: inherit;
  }
  h1 {
    font-size: 24px;
    line-height: 1.2;
  }
  h2 {
    font-size: 20px;
    line-height: 1.2;
  }

  h3 {
    font-size: 16px;
    line-height: 1.2;
  }
  h4 {
    font-size: 1.25em;
  }
  h5 {
    font-size: 1em;
  }
  h6 {
    font-size: 1em;
    color: #777;
  }
  p,
  blockquote,
  ul,
  ol,
  dl,
  table {
    margin: 0px;
  }
  li > ol,
  li > ul {
    margin: 0 0;
  }
  hr {
    height: 2px;
    padding: 0;
    margin: 16px 0;
    background-color: #e7e7e7;
    border: 0 none;
    overflow: hidden;
    box-sizing: content-box;
  }

  li p.first {
    display: inline-block;
  }
  ul,
  ol {
    padding-left: 30px;
  }
  ul:first-child,
  ol:first-child {
    margin-top: 0;
  }
  ul:last-child,
  ol:last-child {
    margin-bottom: 0;
  }
  blockquote {
    border-left: 4px solid #dfe2e5;
    padding: 0 15px;
    color: #777777;
  }
  blockquote blockquote {
    padding-right: 0;
  }
  table {
    padding: 0;
    word-break: initial;
    border-spacing: 0px;
    border-collapse: collapse;
  }
  table tr {
    border-top: 1px solid #dfe2e5;
    margin: 0;
    padding: 0;
  }
  table tr:nth-child(2n),
  thead {
    background-color: #f8f8f8;
  }
  table th {
    font-weight: bold;
    border: 1px solid #dfe2e5;
    border-bottom: 0;
    margin: 0;
    padding: 6px 13px;
  }
  table td {
    border: 1px solid #dfe2e5;
    margin: 0;
    padding: 6px 13px;
  }
  table th:first-child,
  table td:first-child {
    margin-top: 0;
  }
  table th:last-child,
  table td:last-child {
    margin-bottom: 0;
  }

  code {
    background-color: #f4f7fe;
    padding: 0 2px;
  }
  pre {
    background-color: #f4f7fe;

    border-radius: 4px;
    font-size: 14px;
    line-height: 2;
    white-space: pre-wrap;
  }
}
.hljs-comment {
  color: green !important;
}
.hljs-keyword {
  color: blue !important;
}
.hljs-string {
  color: red !important;
}
