.token.comment,.token.number{
    color: green !important;
}
 
.token.punctuation{
    color: dodgerblue !important;
}
.token.keyword{
    color: blue !important;
}
.token.string{
color: red !important;
}
 .token.attr-name{
color: orange !important;
}
.token.operator,.token.function{
color: #505050 !important;
}

.markdown-section h2{
    font-weight: normal !important;
}
.markdown-section hr{
    height: 0px !important;
    background-color: transparent !important;
    border-bottom: dashed 1px #e7e7e7 !important;
}
.markdown-section strong{
    font-size: 16px !important;
}
.markdown-section pre,.markdown-section code{
    background-color: #f4f7fe !important;
}
.markdown-section{
    white-space: pre-wrap;
}

.book-header .btn,.book-header .btn:hover{
    position: fixed;
    left: 0;
    top: 0;
    z-index: 99  ;
    background: white;
}
 .book-summary{
padding-top: 56px;
}
.markdown-section a{
    color: darkblue !important;
    cursor: pointer;
    text-decoration: underline;
}